<!DOCTYPE html>
<html ng-app="bookApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="./main.css" rel="stylesheet">
</head>
<body ng-controller="BookCtrl">
<div>
    <input type="text" placeholder="Search Here" ng-model="searchText"/>
    <nav>
        <ul class="styleNone list">
            <li>
                <ul class="styleNone listElement header">
                    <li><a href="" ng-click="sortBy('globalbookid')">Book Id</a></li>
                    <li><a href="" ng-click="sortBy('title')">Title</a></li>
                    <li>Author(s)</li>
                    <li>eBook ISBN10</li>
                    <li>eBook ISBN13</li>
                    <li>Print ISBN10</li>
                    <li>Print ISBN13</li>
                    <li><a href="" ng-click="sortBy('librarysupported')">Library Supported</a></li>
                    <li>Edition Type</li>
                    <li>Preview Link</li>
                </ul>
            </li>
            <li ng-repeat="b in book | orderBy:orderByField:reverse|filter:searchText">
                <ul class="styleNone listElement">
                    <li>{{b.globalbookid}}</li>
                    <li>{{b.title}}</li>
                    <li>
                        <ul class="listElement">
                            <li ng-repeat="a in b.authors">
                                {{a.firstname}}
                            </li>

                        </ul>
                    </li>
                    <li>{{b.ebookisbn10}}</li>
                    <li>{{b.ebookisbn13}}</li>
                    <li>{{b.printisbn10}}</li>
                    <li>{{b.printisbn13}}</li>
                    <li>{{b.librarysupported}}</li>
                    <li>{{b.editiontype}}</li>
                    <li>{{b.previewlink || "-"}}</li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<script src="lib/angular.min.js"></script>
<script src="src/controller/BookCntrl.js"></script>
<script src="src/service/BookService.js"></script>
<script src="src/config/UrlConfig.js"></script>
</body>
</html>