.styleNone {
    list-style: none;
    display: flex;
}

.header{
    font-weight:bold;
}

.list {
    display: block;
}

.listElement li {
    padding: 0px 15px;
    width: 100px;
    height:auto;
    font-size: 0.8em;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    word-wrap: break-word;
}

ul.listElement>li:first-child{
border-left: 1px solid grey;
}

ul.list>li:last-child{
    border-bottom: 1px solid grey;
}

ul{
    padding: 0px;
}